{% extends 'base.html.twig' %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-align: center; justify-content: center;}
</style>

<div class="example-wrapper">
    <h1>Mellier Mathias</h1>
    <h2>RT1 Grp A 1</h2>
    <p>
        Bonjour, je m’appelle <strong>Mathias</strong>. 
        Je suis actuellement étudiant et je me spécialise dans les 
        <strong>infrastructures réseau</strong>, la 
        <strong>connectivité</strong>, la <strong>sécurité</strong> 
        et l’<strong>optimisation des performances</strong>.
    </p>
    <p>
        À travers cet e-portfolio, je présente mon parcours, mes compétences techniques 
        ainsi que les projets que j’ai pu mener dans le domaine des réseaux et des télécommunications. 
        Mon objectif est de développer une expertise solide et de démontrer ma capacité à concevoir, 
        sécuriser et optimiser des environnements réseau modernes.
    </p>
    <blockquote class="blockquote p-3 ">
        <p class="mb-0">
            « La sécurité n’est pas un produit, c’est un processus. »
        </p>
        <footer class="blockquote-footer mt-2">
            Bruce Schneier
        </footer>
    </blockquote>
</div>


<div class="example-wrapper">
    <h3>Competences</h1>
    <h4>Administrer</h4>
    <h4>Connecter</h4>
    <h4>Programmer</h4>
</div>



<div class = "col-lg-4 col-md-4 col-sm-6 col-xs-12 all dev">
    <a href="/photofr">
        <img src="{{ asset('cv/rick.jpg') }}" alt="Pour en savoir plus sur moi" style="width: 100%; height: 200px; object-fit: cover; border-top-left-radius: 8px; border-top-right-radius: 8px;">
        <div class="project-info" style="padding: 15px; text-align: center;">
            <h4 style="font-size: 1.25rem; font-weight: 600; color: #333;">Pour en savoir plus sur moi</h4>
        </div>
    </a>
</div>





{% endblock %}
