{% extends 'base.html.twig' %}

{% block body %}

<style>
    .login{text-align: center; justify-content: center;}
</style>
<div class="login">
    <h1>Login</h1>
    <p>Please set your email and your name to continue</p>
    <button type="button" class="btn btn-primary" onclick="location.href = '/en/cv';">Login</button>
</div>
{% endblock %}
